{% extends 'base.html' %}
{% block main %}
	<div class="container-fluid px-0"> 
		<div class="custom_banner align-items-center">
			<div class="col-6 px-0 py-0 mx-0 my-0 text-center custom_banner_slogan_wrapper">
				<p class="my-0 custom_banner_slogan_title">Oracle</p>
				<p class="my-0 custom_banner_slogan_desc">Alignment Driven Defect</p>
				<p class="my-0 custom_banner_slogan_desc">Based on Continual Learning</p>
			</div>
		</div>
		<div class="px-5 py-5 custom_section" id="custom_section_mine">
			<div class="d-flex h-100">
				<div class="col-5 h-100 custom_section_img"></div>
				<div class="col-7 h-100 px-5 py-5 custom_section_desc">
					<p class="custom_section_desc_title">Newsfeed</p>
					<p class="custom_section_desc_desc">Show up Recent Alignment Driven Defect Case</p>
					<div class="col-12 h-75 custom_section_desc_img"></div>
				</div>
			</div>
		</div>
		<div class="px-5 py-5 custom_section" id="custom_section_paino">
			<div class="d-flex h-100">
				<div class="col-7 h-100 px-5 py-5 custom_section_desc">
					<p class="custom_section_desc_title">Statistics</p>
					<p class="custom_section_desc_desc">Show up Statistics of Alignment Driven Defect Case</p>
					<div class="col-12 h-75 custom_section_desc_img"></div>
				</div>
				<div class="col-5 h-100 custom_section_img">
				</div>
			</div>
		</div>
		<div class="px-5 py-5 custom_section" id="custom_section_jabberwocky">
			<div class="d-flex h-100">
				<div class="col-5 h-100 custom_section_img">
				</div>
				<div class="col-7 h-100 px-5 py-5 custom_section_desc">
					<p class="custom_section_desc_title">Monitoring</p>
					<p class="custom_section_desc_desc">Monitoring Concept Drift</p>
					<div class="col-12 h-75 custom_section_desc_img"></div>
				</div>
			</div>
		</div>
    </div> 
{% endblock %}
