{% extends 'base.html' %}
{% block main %}
	<div class="container-fluid"> 
        <div class="row">
            <div class="col-md-12 row px-0 py-1 mx-0 my-0 border border-dark rounded">
                <form action="{{ url_for('analysis_multiple') }}" method="post" class="container-fluid" id="analysis_condition">
                    <div class="form-inline my-1">
                        <label for="inputLineID" class="col-md-1 col-form-label font-weight-bold">Line ID</label>
                        <input type="text" id="inputLineID" class="form-control col-md-5" name="LineID" placeholder="Line ID">

                        <label for="inputProcessID" class="col-md-1 col-form-label font-weight-bold">Process ID</label>
                        <input type="text" id="inputProcessID" class="form-control col-md-5" name="ProcessID" placeholder="Process ID">
                    </div>
                    <div class="form-inline my-1">
                        <label for="inputCurrentStep" class="col-md-1 col-form-label font-weight-bold">Current Step</label>
                        <input type="text" id="inputCurrentStep" class="form-control col-md-5" name="CurrentStep" placeholder="Current Step">    

                        <label for="inputStartStep" class="col-md-1 col-form-label font-weight-bold">Start Step</label>
                        <input type="text" id="inputStartStepID" class="form-control col-md-5" name="StartStep" placeholder="Start Step">
                    </div>
                    <div class="form-inline my-1">
                        <label for="inputDurationStart" class="col-md-1 col-form-label font-weight-bold">Duration Start</label>
                        <input type="date" max="2999-00-00" id="inputDurationStart" class="form-control col-md-5" name="DurationStart" placeholder="Duration Start">     

                        <label for="inputDurationEnd" class="col-md-1 col-form-label font-weight-bold">Duration End</label>
                        <input type="date" max="2999-00-00" id="inputDurationEnd" class="form-control col-md-5" name="DurationEnd" placeholder="Duration End"> 
                    </div>
                    <div class="form-inline my-1 justify-content-center">
                        <div class="col-md-2" style="text-align: center;">
                            <button type="submit" form="analysis_condition" class="btn custom_button d-inline" style="display: inline-block; width:50%;">RUN</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class = "row">
        </div>
        <div class = "row">
            <div class="col-md-12 border border-dark rounded">
                <ul class="list-group mh-100 overflow-auto">
                    <li class="list-group-item text-center">History</li>
                    {% for row in history %}
                    <li class="list-group-item"> {{ row }} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div> 
{% endblock %}
