/*===================== Base ======================*/ 
.custom_navbar{
    background-color: #371a60 !important;
}
.custom_menu{
    font-family: Noto Sans KR !important;
    color: #fce2db !important;
    font-weight: bold !important;
}

/*===================== Home ======================*/ 

/*===================== Analysis (Multiple) ======================*/ 

.custom_button{
    color: white;
    background-color: #371a60;
    border-color: #371a60;
    font-weight: bold;
}

/*=====================  Analysis (Single) ======================*/ 


